<a href="https://colab.research.google.com/github/aeltouny/DataMiners/blob/master/Create_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read & Explore Dataset

Read Dataset

In [2]:
import pandas as pd 
workDF = pd.read_csv("Churn_Modelling.csv")

Explore Dataset

In [3]:
print(workDF.head())

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

Explore Column Names

In [4]:
print(workDF.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

Dataset prearation

Remove Unnecessary Columns

In [5]:
workDF = workDF.iloc[:,3:]

Explore modified Dataset

In [6]:
print(workDF.head())

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

Check for missing data in the numerical fields

In [8]:
import numpy as np
from sklearn.impute import SimpleImputer
chcol_index = [0,3,4,5,6,7,8,9]
imputer = SimpleImputer(missing_values=np.nan , strategy="mean")
imputer.fit(workDF.iloc[:, chcol_index])
temp_array =imputer.transform(workDF.iloc[:, chcol_index])
x=0
for i in chcol_index :
    workDF.iloc[:,i]= temp_array[:,x]
    x+=1

Explore Modified Dataset

In [9]:
print(workDF.head())

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0        619.0    France  Female  ...             1.0        101348.88       1
1        608.0     Spain  Female  ...             1.0        112542.58       0
2        502.0    France  Female  ...             0.0        113931.57       1
3        699.0    France  Female  ...             0.0         93826.63       0
4        850.0     Spain  Female  ...             1.0         79084.10       0

[5 rows x 11 columns]